* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(40, 85, 77);
}

.container {
  border-style: solid;
  border-color: azure;
  border-width: 3px;
  border-radius: 5px;

  background: rgb(106, 156, 153);

  width: 50%;
  margin: auto;
  padding: 10px;
  display: flex;
  align-content: center;
}
